@font-face {
	font-family:'TradeGothic';
	src: url('TradeGothicNo.20-CondBold_gdi.eot');
	src: url('TradeGothicNo.20-CondBold_gdi.eot?#iefix') format('embedded-opentype'),
		url('TradeGothicNo.20-CondBold_gdi.woff') format('woff'),
		url('TradeGothicNo.20-CondBold_gdi.ttf') format('truetype'),
		url('TradeGothicNo.20-CondBold_gdi.svg#TradeGothicNo.20-CondBold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: expanded;
	unicode-range: U+0020-2122;
}
html {
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}
body {
	margin:0;
}
main, nav, section {
	display:block;
}
a {
	background:transparent;
}
a:active, a:hover {
	outline:0;
}
img {
	border:0;
}
button, input {
	color:inherit;
	font:inherit;
	margin:0;
}
button {
	overflow:visible;
}
button {
	text-transform:none;
}
button, input[type="submit"] {
	-webkit-appearance:button;
	cursor:pointer;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	border:0;
	padding:0;
}
input {
	line-height:normal;
}
@media print {
	* {
		text-shadow:none !important;
		color:#000 !important;
		background:transparent !important;
		box-shadow:none !important;
	}
	a, a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	a[href^="#"]:after {
		content:"";
	}
	img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	p, h2, h3 {
		orphans:3;
		widows:3;
	}
	h2, h3 {
		page-break-after:avoid;
	}
}
* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
*:before, *:after {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
html {
	font-size:62.5%;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
body {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height:1.428571429;
	color:#333333;
	background-color:white;
}
input, button {
	font-family:inherit;
	font-size:inherit;
	line-height:inherit;
}
a {
	color:#428bca;
	text-decoration:none;
}
a:hover, a:focus {
	color:#2a6496;
	text-decoration:underline;
}
a:focus {
	outline:thin dotted;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px;
}
img {
	vertical-align:middle;
}
img {
	display:block;
	max-width:100%;
	height:auto;
}
h2, h3, h4 {
	font-family:inherit;
	font-weight:500;
	line-height:1.1;
	color:inherit;
}
h2, h3 {
	margin-top:20px;
	margin-bottom:10px;
}
h4 {
	margin-top:10px;
	margin-bottom:10px;
}
h2 {
	font-size:30px;
}
h3 {
	font-size:24px;
}
h4 {
	font-size:18px;
}
p {
	margin:0 0 10px;
}
ul {
	margin-top:0;
	margin-bottom:10px;
}
ul ul {
	margin-bottom:0;
}
.container, .plank .section-container {
	margin-right:auto;
	margin-left:auto;
	padding-left:15px;
	padding-right:15px;
}
.container:before, .plank .section-container:before, .container:after, .plank .section-container:after {
	content:" ";
	display:table;
}
.container:after, .plank .section-container:after {
	clear:both;
}
@media (min-width: 768px) {
	.container, .plank .section-container {
		width:750px;
	}
}
@media (min-width: 992px) {
	.container, .plank .section-container {
		width:970px;
	}
}
@media (min-width: 1200px) {
	.container, .plank .section-container {
		width:1170px;
	}
}
main {
	margin-right:auto;
	margin-left:auto;
	padding-left:15px;
	padding-right:15px;
}
main:before, main:after {
	content:" ";
	display:table;
}
main:after {
	clear:both;
}
section {
	margin-left:-15px;
	margin-right:-15px;
}
section:before, section:after {
	content:" ";
	display:table;
}
section:after {
	clear:both;
}
.col-md-4 {
	position:relative;
	min-height:1px;
	padding-left:15px;
	padding-right:15px;
}
@media (min-width: 992px) {
	.col-md-4 {
		float:left;
	}
	.col-md-4 {
		width:33.3333333333%;
	}
	.col-md-offset-4 {
		margin-left:33.3333333333%;
	}
}
label {
	display:inline-block;
	max-width:100%;
	margin-bottom:5px;
	font-weight:bold;
}
.form-control {
	display:block;
	width:100%;
	height:34px;
	padding:6px 12px;
	font-size:14px;
	line-height:1.428571429;
	color:#555555;
	background-color:white;
	background-image:none;
	border:1px solid #cccccc;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	-o-transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control:focus {
	border-color:#66afe9;
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}
.form-control::-moz-placeholder {
	color:#999999;
	opacity:1;
}
.form-control:-ms-input-placeholder {
	color:#999999;
}
.form-control::-webkit-input-placeholder {
	color:#999999;
}
.btn, .button-primary {
	display:inline-block;
	margin-bottom:0;
	font-weight:normal;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	background-image:none;
	border:1px solid transparent;
	white-space:nowrap;
	padding:6px 12px;
	font-size:14px;
	line-height:1.428571429;
	border-radius:4px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.btn:focus, .button-primary:focus, .btn:active:focus, .button-primary:active:focus {
	outline:thin dotted;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px;
}
.btn:hover, .button-primary:hover, .btn:focus, .button-primary:focus {
	color:#333333;
	text-decoration:none;
}
.btn:active, .button-primary:active {
	outline:0;
	background-image:none;
	-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);
	box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);
}
.btn-default {
	color:#333333;
	background-color:white;
	border-color:#cccccc;
}
.btn-default:hover, .btn-default:focus, .btn-default:active {
	color:#333333;
	background-color:#e6e6e6;
	border-color:#adadad;
}
.btn-default:active {
	background-image:none;
}
.button-primary {
	color:white;
	background-color:#428bca;
	border-color:#357ebd;
}
.button-primary:hover, .button-primary:focus, .button-primary:active {
	color:white;
	background-color:#3071a9;
	border-color:#285e8e;
}
.button-primary:active {
	background-image:none;
}
.button-primary {
	padding:10px 16px;
	font-size:18px;
	line-height:1.33;
	border-radius:6px;
}
.fade {
	opacity:0;
	-webkit-transition:opacity 0.15s linear;
	-o-transition:opacity 0.15s linear;
	transition:opacity 0.15s linear;
}
.close {
	float:right;
	font-size:21px;
	font-weight:bold;
	line-height:1;
	color:black;
	text-shadow:0 1px 0 white;
	opacity:0.2;
	filter:alpha(opacity=20);
}
.close:hover, .close:focus {
	color:black;
	text-decoration:none;
	cursor:pointer;
	opacity:0.5;
	filter:alpha(opacity=50);
}
button.close {
	padding:0;
	cursor:pointer;
	background:transparent;
	border:0;
	-webkit-appearance:none;
}
.modal {
	display:none;
	overflow:auto;
	overflow-y:scroll;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1050;
	-webkit-overflow-scrolling:touch;
	outline:0;
}
.modal.fade .modal-dialog {
	-webkit-transform:translate(0, -25%);
	-ms-transform:translate(0, -25%);
	-o-transform:translate(0, -25%);
	transform:translate(0, -25%);
	-webkit-transition:-webkit-transform 0.3s ease-out;
	-moz-transition:-moz-transform 0.3s ease-out;
	-o-transition:-o-transform 0.3s ease-out;
	transition:transform 0.3s ease-out;
}
.modal-dialog {
	position:relative;
	width:auto;
	margin:10px;
}
.modal-content {
	position:relative;
	background-color:white;
	border:1px solid #999999;
	border:1px solid rgba(0,0,0,0.2);
	border-radius:6px;
	-webkit-box-shadow:0 3px 9px rgba(0,0,0,0.5);
	box-shadow:0 3px 9px rgba(0,0,0,0.5);
	background-clip:padding-box;
	outline:0;
}
.modal-header {
	padding:15px;
	border-bottom:1px solid #e5e5e5;
	min-height:16.428571429px;
}
.modal-header .close {
	margin-top:-2px;
}
.modal-title {
	margin:0;
	line-height:1.428571429;
}
.modal-body {
	position:relative;
	padding:15px;
}
.modal-footer {
	padding:15px;
	text-align:right;
	border-top:1px solid #e5e5e5;
}
.modal-footer:before, .modal-footer:after {
	content:" ";
	display:table;
}
.modal-footer:after {
	clear:both;
}
@media (min-width: 768px) {
	.modal-dialog {
		width:600px;
		margin:30px auto;
	}
	.modal-content {
		-webkit-box-shadow:0 5px 15px rgba(0,0,0,0.5);
		box-shadow:0 5px 15px rgba(0,0,0,0.5);
	}
	.modal-sm {
		width:300px;
	}
}
body {
	color:#333333;
	font-family:"Open Sans", sans-serif;
	font-size:14px;
}
h2 {
	text-transform:uppercase;
}
h2, h3 {
	font-weight:normal;
	font-weight:400;
}
h4 {
	font-weight:bold;
	font-weight:700;
}
h4 {
	font-size:18px;
}
h3 {
	font-size:24px;
	margin-top:16px;
	margin-bottom:8px;
}
h2 {
	margin-top:24px;
	margin-bottom:8px;
}
h2 {
	font-size:36px;
}
@media (max-width: 991px) {
	h2 {
		font-size:24px;
	}
}
.button-primary {
	background-color:#eb3b45;
	border-color:white !important;
}
.clear {
	clear:both;
}
html, body {
	height:100%;
}
img {
	margin:0 auto;
}
a {
	text-decoration:none;
}
a:hover, a:focus {
	text-decoration:none;
}
main {
	width:100%;
	padding-left:0em;
	padding-right:0em;
	min-height:700px;
}
*:target::before {
	height:45px;
	display:block;
	content:'\a0';
}
.public-container {
	padding:0px;
}
.plank {
	width:100%;
}
.plank .section-container>section>div:not(.no-pad) {
	padding:2.25em 0.938em 1.5em 0.938em;
}
.plank {
	color:#333333;
}
.plank.plain-md {
	background-color:#e6e6e6;
}
.plank.plain-md a {
	color:#0071bc;
}
.plank.plain-md .section-container {
	background-color:#f2f2f2;
}
html, body, div, span, h2, h3, h4, p, a, img, ul, li, form, label, nav, section {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
nav, section {
	display:block;
}
body {
	line-height:1;
}
ul {
	list-style:none;
}
body {
	background:rgba(44,62,80,0.92);
	color:#fff;
	font-size:14px;
	font-family:'Open Sans', sans-serif, 'trebuhet ms',HelveticaNeue, arial;
	height:100%;
	line-height:20px;
}
* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
p {
	line-height:2.0em;
}
a {
	text-decoration:none;
	color:rgba(74,92,110,0.92);
}
a:hover {
	color:#fff;
}
img {
	max-width:100%;
}
a, a:hover {
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
body {
	background:#fff;
	font-family:Georgia, "Times New Roman", Times, serif;
}
p {
	margin: 0 0 24px;
	font-size:1.2em;
}
a {
	color:#eb3b45;
}
.upperheader_red {
	background:#eb3b45;
	padding-bottom: 8px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 8px;
}
.upperheader_red h4 {
	color:#fff;
	text-align:right;
	margin:0;
	font-size:1em;
}
.upperheader_red .container {
	max-width:1000px;
	margin: 0 auto;
	padding-right:1.3em;
	padding-left:1.3em;
}
.upperheader_red .social a {
	display: inline-block;
	margin-left: 4px;
	vertical-align: sub;
}
.upperheader_red a.facebook_icon {
	background:url(images/fb_socialicons.png) no-repeat center center;
	width:18px;
	height:18px;
}
.upperheader_red a.ig_icon {
	background:url(images/ig_socialicons.png) no-repeat center center;
	width:18px;
	height:18px;
}
.upperheader_red a.twitter_icon {
	background:url(images/twitter_socialicons.png) no-repeat center center;
	width:18px;
	height:18px;
}
.upperheader_red a.mail_icon {
	background:url(images/mail_socialicons.png) no-repeat center center;
	width:18px;
	height:18px;
}
#topheader {
	background-color: #ffffff;
	width: 100%;
	height:60px;
	position:relative;
	padding:8px 0;
	max-width:1000px;
	margin:0 auto;
	padding-right:1.3em;
	padding-left:1.3em;
}
.navigationbar {
	font-family:TradeGothic, Impact, sans-serif;
	text-transform:uppercase;
}
.navigationbar {
	float:right;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2px;
}
.navigationbar::after {
	clear: both;
}
ul.nav-menu {
	margin: 0;
	padding: 0 0 0 0;
}
.nav-menu li {
	display: inline-block;
	position: relative;
}
.nav-menu li a {
	display: block;
	font-size: 16px;
	line-height: 1;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 12px;
	padding-right: 12px;
	color:#000;
	z-index: 99999;
}
.nav-menu li:hover > a, .nav-menu li a:hover, .nav-menu li:focus > a, .nav-menu li a:focus {
	color: #eb3b45;
}
.nav-menu .sub-menu {
	background-color: #ffffff;
	border: none;
	border-top: 0;
	padding: 0;
	position: absolute;
	left: -2px;
	z-index: 99999;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
ul.nav-menu ul a {
	color: #000000;
	margin: 0;
	width: 200px;
}
ul.nav-menu ul a:hover, ul.nav-menu ul a:focus {
	color: #eb3b45;
}
ul.nav-menu li:hover > ul, .nav-menu ul li:hover > ul {
	clip: inherit;
	overflow: inherit;
	height: inherit;
	width: inherit;
}
.nav-menu li.apply_top_btn a {
	background:#d1ab5c;
	color:#fff !important;
	padding-left:20px;
	padding-right:20px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	transition: all 0.5s ease 0s;
}
.nav-menu li.apply_top_btn a:hover {
	background:#000000;
}
.nav-menu li.donate_top_btn a {
	background:#eb3b45;
	color:#fff !important;
	padding-left:20px;
	padding-right:20px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	transition: all 0.5s ease 0s;
}
.nav-menu li.donate_top_btn a:hover {
	background:#000000;
}
.nav-menu li.beyondz_menu_item {
	display:none;
}
#topheader a.menuicon {
	display:none;
	background: center center no-repeat transparent;
	background-image: url(images/menu_icon.png);
	width: 40px;
	height: 40px;
	position: absolute;
	top: 10px;
	right: 10px;
}
#blogo {
	float:left;
	width:185px;
	height:40px;
}
#footer_menu {
	max-width:980px;
	margin:0 auto;
}
#footer_bottom.braven_section {
	background:#262426;
}
#footer_menu .footer_widget {
	float:left;
	width:25%;
}
.fb_fico a {
	background: url(images/fb_footer_social.png) no-repeat 0 center;
	opacity:.4;
	padding-left:25px;
	color:#fff !important;
}
.tw_fico a {
	background: url(images/twitter_footer_social.png) no-repeat 0 center;
	opacity:.4;
	padding-left:25px;
	color:#fff !important;
}
.blog_fico a {
	background: url(images/blog_footer_social.png) no-repeat 0 center;
	opacity:.4;
	padding-left:25px;
	color:#fff !important;
}
.fb_fico a:hover, .tw_fico a:hover, .blog_fico a:hover {
	opacity:1;
}
.braven-cc {
	border-top:1px solid #71716c;
	padding:20px 0 0;
	text-align:center;
	color:#71716c;
}
.braven-cc a {
	color:#71716c;
}
.braven-cc a:hover {
	color:#fff;
}
.info_footer_link:before {
	content: 'Contact us:';
	display:block;
}
.footer_widget {
	background-color:none;
	color:#71716c;
	font-size: 16px;
	-webkit-hyphens: auto;
	-moz-hyphens:    auto;
	-ms-hyphens:     auto;
	hyphens:         auto;
	margin: 0 0 0px;
	padding: 20px;
	padding-left:0;
	padding-right:0;
	word-wrap: break-word;
}
.footer_widget .footer-title {
	font-size: 18px;
	margin: 0 0 10px;
	color:#fff;
}
.footer_widget ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.footer_widget li {
	padding: 5px 0;
}
.footer_widget a, .footer_widget a:visited {
	color: #71716c;
}
.footer_widget a:hover {
	color: #fff;
	text-decoration:none;
}
.braven-widget-last {
}
a:active, a:hover {
	color: #000000;
	outline: 0;
}
a:hover {
	text-decoration: none;
}
button, input[type="submit"] {
	-webkit-appearance: button;
	border:none;
	border-radius:2px;
	cursor: pointer;
	color:#fff;
}
.braven_section {
	padding:30px 20px;
}
button.btn {
	border:1px solid #111;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #111 !important;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	font-family:TradeGothic, Impact, sans-serif;
	font-weight: 400;
	font-size:21px;
	letter-spacing: 1px;
	line-height: 1.333em;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	text-transform: uppercase;
	text-shadow: none;
	transition: all 0.5s ease 0s;
}
.button-primary, button.btn:hover {
	background:#000000;
	color:#fff !important;
}
.button-primary {
	background:#eb3b45;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff !important;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	font-family:TradeGothic, Impact, sans-serif;
	font-size:21px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1.333em;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	text-transform: uppercase;
	text-shadow: none;
	transition: all 0.5s ease 0s;
}
.button-primary:hover {
	background:#000;
	color:#fff !important;
}
.clear {
	clear:both;
}
.close {
	background: #eb3b45;
	color: #FFFFFF !important;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover {
	background: #000;
}
@media only screen and (max-width: 980px) {
	#navigation {
		display:none;
	}
	#topheader a.menuicon {
		display:block;
	}
	.footer_widget .footer-title {
		font-size:1em;
	}
}
@media only screen and (max-width: 650px) {
	.braven_section {
		padding-bottom: 5px;
		padding-left: 2%;
		padding-right: 2%;
		padding-top: 15px;
	}
	ul {
		padding-left:14px;
	}
	#footer_menu {
		max-width:400px;
		margin:0 auto;
	}
	#footer_menu .footer_widget {
		margin:0 auto;
		width: 50%;
		padding-left:4px;
		padding-right:4px;
	}
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}
nav, section {
	display: block;
}
html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html, button, input {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}
body {
	color: #141412;
	line-height: 1.5;
	margin: 0;
}
a:focus {
	outline: thin dotted;
}
h2, h3, h4 {
	clear: both;
	font-family:  TradeGothic, Impact, "Source Sans Pro", sans-serif;
	line-height: 1.3;
	font-weight: 100;
	text-transform:uppercase;
}
h2 {
	font-size: 30px;
	margin: 24px 0 10px;
}
h3 {
	font-size: 22px;
	margin: 21px 0 10px;
}
h4 {
	font-size: 20px;
	margin: 14px 0;
}
ul {
	margin: 10px 0 25px;
	padding: 0 0 0 40px;
}
ul {
	list-style: none;
}
nav ul {
	list-style: none;
	list-style-image: none;
}
li > ul {
	margin: 0;
}
img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	vertical-align: middle;
}
form {
	margin: 0;
}
button, input {
	font-size: 100%;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
}
button, input {
	line-height: normal;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
.clear:after, .navigation:after {
	clear: both;
}
.clear:before, .clear:after, .navigation:before, .navigation:after {
	content: "";
	display: table;
}
.navigation a {
	color: #bc360a;
}
.navigation a:hover {
	color: #000000;
	text-decoration: none;
}
@media (max-width: 643px) {
	ul.nav-menu {
		display: none;
	}
}
@media print {
	body {
		background: none !important;
		color: #000;
		font-size: 10pt;
	}
	.main-navigation {
		display: none;
	}
}
